.header-router {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // background: rgb(26, 26, 24);
    background: linear-gradient(95.25deg, #FFF100 0.45%, #FABF00 97.04%);
}

.header-router div {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

}

.header-router div p {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif Khmer', serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
}